.head{
    position: fixed;
    top: 0px;
    background-color: darkblue;
    color: white;
    min-height: 50px;
}
a{
    display: table-cell;
    width: 477px;
    text-align: center;
    padding-top: 10px;
   font-size: 19px;
}